<h1><%= @title %></h1>
<p>This API uses Ruby on Rails, so it has an easy to use CRUD layer for the SQL database.</p>
<p>It can also receive XML files and convert them to JSON, and send the JSON files to some URL.</p>
<p>That's it for now. <%= @testvar %></p>
