    <div class="page-header">
<h1> Welcome to the new Cosound API </h1>
    </div>
    <p class="lead">Here are all the experiments that have been defined so far: </p>

<p> </p>

<% @experiments.each do |exp| %>
<div class ="well">
  <p>Name of experiment: <%= exp.Name %> </p>
  <p>Author ID of experiment: <%= exp.CreatedBy %> </p>

  <%= link_to "View experiment", experiment_path(exp), :class => 'btn btn-default' %>

</div>
<% end %>
