<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= stylesheet_link_tag   'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_pack_tag 'App' %>
    <%= javascript_pack_tag    'App' %>
  </head>

  <body>
    <div id="admin-app"> </div>
  </body>
</html>
