<!DOCTYPE html>
<html>
  <head>
    <title>DTU Elicit</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" >
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag "https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'main' %>
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
  </head>
  <body>
    <div id="elicit-app"> </div>
  </body>
</html>
