<!DOCTYPE html>
<html>
  <head>
    <title>Elicit</title>
    <%= favicon_link_tag '/favicon.png' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%
    # <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    %>
    <link rel="preload" href="https://fonts.gstatic.com/s/leckerlione/v11/V8mCoQH8VCsNttEnxnGQ-1idKpZdJNE9Fg.woff2" as="font">
  </head>
  <body>
  <div id="elicit-app"/>
  </body>
</html>
